.form-add-task,
.list-tasks {
  background-color: #ddd;
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.task{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 10px;
}